.bg-green {
    background-color: #84C4A4;
}

.i-big {
    font-size: 1.6em;
    color: aliceblue;

}

.i-big-green {
    font-size: 1.6em;
    color: #84C4A4;

}

#mapid { 
    height: 180px; 
}

#loading:hover {
    -webkit-animation: rotation 0.8s linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
